@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Lato:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #00092C;
}
.box{
    position: relative;
    width: 350px;
}
.box .input__box{
    position: relative;
    width: 100%;
    background: #FFF;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.box .input__box input{
    position: relative;
    padding: 16px 20px;
    font-size: 18px;
    line-height: 20px;
    color: rgb(42, 42, 42);
    outline: none;
    border: none;
    width: 100%;
}
.box .input__box #togglebtn{
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    width: 35px;
    height: 35px;
    right: 10px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .input__box #togglebtn::before{
    content: '\f06e';
    font-family: fontAwesome;
}
.box .input__box #togglebtn.hide::before{
    content: '\f070';
    font-family: fontAwesome;
}
.validation{
    background-color: #D2DAFF;
    padding: 30px 20px;
    margin-top: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.validation ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.validation ul li{
    list-style: none;
    position: relative;
    color: #181818;
}
.validation ul li::before{
    content: '\f192';
    font-family: fontAwesome;
    width: 20px;
    height: 10px;
    display: inline-flex;
}
.validation ul li.valid{
    color: rgba(0, 0, 0, 0.5);
}
.validation ul li.valid::before{
    content: '\f00c';
    font-family: fontAwesome;
    color: green;
}